:root {
    --ash-gray: #AAB8B6;
    --jet-stream: #BCCBC9;
    --lighter-jet-stream: #DDE5E4;
    --columbia-blue: #C0DFD9;
    --platinum: #E9ECE6;
    --davys-grey: #474D4C; /* used for text */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Helvetica;
    background-color: var(--jet-stream);
    color: var(--davys-grey);
}

a:not(.navlink) {
    color: DarkGreen;
}

/* Navbar styling */
#navbar {
    height: 44px;
    background-color: rgba(221, 229, 228, 0.95);
    display: flex;
    align-items: center;
    position: sticky;
    top: -0.5px;
    backdrop-filter: blur(3px);
    z-index: 1;
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1024px;
    margin: auto;
    padding: 0 22px;
}

#logo {
    font-family: Jost, sans-serif;
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}

.logo-upper {
    position: relative;
    bottom: 8px;
}

.logo-lower {
    position: relative;
    top: 8px;
    right: 18px;
}

.logo-letter {
    color: ForestGreen;
    font-weight: bold;
}

#logo span {
    font-size: 1.15rem;
    font-family: 'Gabarito', Helvetica, Arial, sans-serif;
}

#menu {
    height: 44px;
    width: 44px;
    display: none;
}

#menu:hover {
    cursor: pointer;
}

#menu-icon {
    margin: 4.4px;
    width: 35.2px;
}

#links {
    width: 16rem;
    display: flex;
    justify-content: space-between;
}

#navbar a {
    color: var(--davys-grey); 
    text-decoration: none;
    font-family: 'Inter', Helvetica, Arial, sans-serif;
    font-size: 13px;
}

#navbar #links a:hover {
    text-decoration: underline;
    color: DarkGreen;
}

.highlighted {
    text-decoration: underline !important;
    color: LightCoral !important;
}

/* entry section */
#entry-section {
    padding: 3rem 0 4rem;
    background-color: var(--jet-stream);
    color: var(--davys-grey);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'Lexend Tera', Helvetica;
    text-align: center;
}

#name-box {
    display: inline-block;
    background: linear-gradient(
        0deg,
        Green,
        DarkSlateBlue
    );
    background-clip: text;
}

#name {
    font-family: 'Gabarito', Helvetica;
    font-size: 8rem;
    color: rgba(211, 211, 211, 0.25);
}

#entry-section h2 {
    font-weight: initial;
}

#services-graphics {
    display: flex;
}

.service-block {
    margin: 2rem 1.5rem;
    height: 360px;
    width: calc(265px + 1rem);
    position: relative;
}

div.service-block:nth-of-type(1) {
    bottom: 1rem;
}

div.service-block:nth-of-type(2) {
    top: 2.5rem;
    line-height: 3rem;
}

div.service-block:nth-of-type(3) {
    bottom: 2rem;
    line-height: 4.25rem;
}

div.service-block:nth-of-type(4) {
    background: top no-repeat url('./images/bubble.svg');
    background-size: 100%;
    top: 2rem;
    margin: 60px calc(35px + 1rem);
    height: 300px;
    width: 230px;
}

div.service-block:nth-of-type(4) img {
    height: 80%;
    width: 80%;
    position: relative;
    bottom: 1.5rem;
    margin-bottom: 1rem;
}

.service-block img {
    width: 90%;
    max-height: 90%;
}

/* services section */
#services {
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--columbia-blue); 
    padding: 5rem 0;
}

#services h2 {
    font-family: 'Gabarito', Helvetica;
    font-weight: initial;
    margin-bottom: 15px;
    padding: 10px;
    border-bottom: solid 1.5px var(--davys-grey);
}

#services-and-illustrations {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    max-width: 1224px;
}

.service {
    font-family: 'Jost', Helvetica;
    line-height: 2rem;
    font-size: 1.1rem;
}

#wind-turbine-img {
    max-height: 500px;
    transform: scaleX(-1);
}

#battery-img {
    max-height: 115px;
    display: none;
}

/* about us section */
#about-us {
    height: 500px;
    border-top: solid 1.5rem var(--ash-gray);
    border-bottom: solid 1.5rem var(--ash-gray);
    font-family: Jost;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#about-us h2 {
    font-weight: initial;
    font-size: 1.5rem;
}

#tomtecha-info {
    width: 600px;
    font-size: 1.1rem;
}

#tomtecha-info p:first-of-type {
    margin-bottom: 10px;
    margin-top: -1rem;
}

/* contacts section */
#contacts {
    background-color: var(--platinum); 
}

#contacts div {
    margin: auto;
    min-height: 300px;
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#contacts div h2 {
    text-align: center;
    font-weight: initial;
    font-size: 1.5rem;
    font-family: Jost;
}

#contacts-list li {
    list-style: none;
    line-height: 2rem;
}

footer {
    background-color: var(--ash-gray);
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer p {
    font-family: Inter, Helvetica;
}

footer p:nth-of-type(2) {
    margin-top: 0.25rem;
    font-size: 12px;
}

/* Responsiveness */
@media (max-width: 1300px) {
    #entry-section {
        height: 1200px;
    }

    #services-graphics {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 822px;
    }

    .service-block {
        margin: 0 5vw;
        height: 360px;
        width: calc(265px + 1rem);
        position: relative;
    }

    div.service-block:nth-of-type(1) {
        bottom: 0;
    }

    div.service-block:nth-of-type(2) {
        top: 0;
    }

    div.service-block:nth-of-type(2) img {
        width: 79%;
    }

    div.service-block:nth-of-type(3) {
        bottom: 0;
        line-height: 4.25rem;
    }

    div.service-block:nth-of-type(4) {
        top: 0;
    }

    #wind-turbine-img {
        max-height: 375px;
    }
}

@media (max-width: 800px) {
    #tomtecha-info {
        width: 75%;
    }
}

@media (max-width: 650px) {
    h2 {
        font-size: max(3.5vw, 1.25rem);
    }

    #name {
        font-size: 20vw;
    }

    #entry-section {
        height: 1325px;
    }

    #entry-section h2 {
        font-size: max(3.5vw, 1rem);
    }

    #menu {
        display: block;
    }

    #links {
        display: none;
    }

    .expanded-links {
        position: absolute;
        top: 44px;
        left: 0;
        width: 100vw !important;
        height: max-content;
        flex-direction: column;
        align-items: center;
        background-color: rgba(221, 229, 228, 0.95);
    }

    .expanded-links a {
        line-height: 3rem;
    }

    #services-graphics {
        width: 411px;
    }

    div.service-block {
        height: 330px;
        width: 260px;
    }

    div.service-block p {
        font-size: 0.9rem;
    }

    div.service-block:nth-of-type(3) {
        display: none;
    }

    #services {
        padding: 0;
    }

    #services-and-illustrations {
        flex-direction: column;
        width: 75%;
    }

    #wind-turbine-img {
        display: none;
    }

    #battery-img {
        display: block;
    }

    #services-spacer {
        display: none;
    }

    #contacts-list li {
        font-size: 0.92rem;
    }
}
